@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-pink: #FFB6C1;
}

body {
  background-color: white;
  color: black;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: 
    url(/pink-cloud1.svg) no-repeat,
    url(/pink-cloud2.svg) no-repeat,
    url(/pink-cloud3.svg) no-repeat;
  background-size: 200px 100px, 150px 75px, 250px 125px;
  animation: hovering-clouds 60s infinite linear;
  opacity: 1;
}

@keyframes hovering-clouds {
  from {
    background-position: -250px 20%, 110% 40%, -300px 80%;
  }
  to {
    background-position: 120% 20%, -20% 40%, 120% 80%;
  }
}
